@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*
This is an example of adding section script. Scripts written int his section are added in "@async RenderSectionAsync("Script", required: false);"" method of _Layout.cshtml
*@
@*
//Uncomment this section to test
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function(){
            alert("this is section script");
        });
    </script>
}
*@